body {
    padding-top: 50px;
    padding-bottom: 20px;
}

 Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}

body {
    text-align: center;
    margin: 0;
    background-color: black;
}

 Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}
.navbar {
    background-color: #6f191c !important;
}

    .navbar .navbar-brand {
        color: #fff;
    }

    .navbar .navbar-nav li a {
        color: #fff !important;
    }

.navbar-light .navbar-toggler {
    color: white !important;
    background-color: white !important;
    border-color: white !important;
}

.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #6f191c !important;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.bakgrundsbild {
    width: 100%;
    margin-top: 10px;
}

.rubrik {
    font-size: 5em;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: white;
    text-align: center;
}

.adminbg {
    background-color: white;
    text-align: left;
}

.login {
    position: absolute;
    right: 10px;
}

.logga {
    text-align: center;
    border-radius: 100%;
    height: 200px;
    width: 200px;
}
button {
    text-align: left;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color:lightgrey;

    border: 0;
    padding: 15px;
    color: black;
    font-size: 14px;

}
button:hover, button:active, button:focus {
    background-color: darkgrey;
}


